/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

/**
 * Common Enigmail styles for all platforms
 */


.action-box {
  width: 100px
}

#expandedEnigmailBox {
  background-color: #d8e0e8;
  color: black;
}

.enigmailHeaderName {
  color: #888a85;
  /* lower contrast, TB3 */
  text-align: right;
  background-color: transparent;
  -moz-margin-end: 2px;
}

.enigmailHeaderNameBox {
  width: 7.7em;
  background-color: #d8e0e8;
  color: black;
}

.enigmailHeaderValue {
  min-width: 50px;
  white-space: normal;
  color: black;
  line-height: 1.4em !important;

  -moz-appearance: none !important;

  padding: 0px !important;
  margin: 0px !important;
  -moz-margin-start: 3px !important;
  border: none !important;
  background-color: transparent !important;
}

.enigmailHeaderSpacer {
  width: 2px;
}

.enigmailHeaderBoxLabelNoSignature {
  background-color: #d8e0e8;
  color: black;
}

.enigmailHeaderBoxLabelSignatureOk {
  background-color: #ccffcc;
  color: black;
}

.enigmailHeaderBoxLabelSignatureVerified {
  background-color: #ccffff;
  color: black;
}

.enigmailHeaderBoxLabelSignatureNotOk {
  background-color: #FFD8FE;
  color: black;
}

.enigmailHeaderBoxLabelSignatureUnknown {
  background-color: #FFFFC9;
  color: black;
}

.enigmailHeaderBoxLabelBuggyMailFormat {
  background-color: #FFD8FE;
  color: black;
}

.enigmailLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

enigmailLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.enigmailStrong {
  font-weight: bold;
  color: red;
}

.enigmailUidInactive {
  color: gray;
  font-style: italic;
}

.enigMsgHdrView-flat-button {
  min-width: 1px !important;
  -moz-appearance: none !important;
  color: black !important;
  background-color: #DDDDDD !important;

  border: 2px solid transparent;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding: 0 2px;
  border-color: ThreeDShadow;
  border-width: 1px;
  min-height: 1ex;
}

.enigMsgHdrView-flat-button:hover {
  background-color: #CCCCCC !important;
}

.enigmailToolbar {
  -moz-appearance: none;
}

.enigmailTitle {
  font-size: larger;
  font-weight: bold;
}

.enigmailDisabled {
  color: #a6a6a6;
  /* grey */
}

#messagepanebox[enigSigned="ok"] #messagepane {
  color: red;
}

#expandedautocryptRow {
  visibility: collapse;
}

.enigmailMessagePane {
  margin: 6px;
  -moz-user-focus: normal;
  -moz-user-select: text;
  cursor: text !important;
  white-space: pre-wrap;
  unicode-bidi: -moz-plaintext;
}

/***************************************************
 *  Various other styles
 ***************************************************/

.enigmailDialogTitle {
  font-size: 120%;
  font-weight: bold;
  padding-bottom: 6px;
}

.enigmailDialogBody {
  -moz-user-focus: normal;
  -moz-user-select: text;
  cursor: text !important;
  white-space: pre-wrap;
  unicode-bidi: -moz-plaintext;
}

.enigmailDialogInfoBox {
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 10px 0px 10px;
}

.enigmailPrefsTitle {
  font-weight: bold;
  height: 25px;
}

.enigmailKeyImportHeader {
  font-weight: bold;
  color: #888;
}

.enigmailKeyImportUserId {
  font-weight: bold;
}

.enigmailKeyImportCaption {
  list-style-image: url("chrome://enigmail/skin/importSuccess.png");
  max-height: 2em;
  max-width: 2em;
}

.enigmailErrorIcon {
  list-style-image: url("chrome://enigmail/skin/password-error.svg");
  padding-top: 5px;
  padding-bottom: 5px;
  height: 2.2em;
  width: 2.2em;
}

.enigmailKeyImportDetails {
  color: blue;
}

.enigmailKeyImportDetails:hover {
  text-decoration: underline;
}

treechildren::-moz-tree-cell-text(enigmailSubkeyTitle) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigmailOwnKey) {
  font-weight: bold;
}

treechildren::-moz-tree-cell-text(enigKeyInactive) {
  color: gray;
  font-style: italic;
}

treechildren::-moz-tree-column(enigDontEncrypt) {
  background-color: rgb(90%, 90%, 90%);
}

treechildren::-moz-tree-cell-text(fixedWidthFont) {
  font-family: "Courier New", Courier, monospace;
}

.enigmailExpandViewButton {
  width: 9px;
  /* The image's width is 9 pixels */
  list-style-image: url("chrome://enigmail/skin/twisty-clsd.png");
}

.enigmailCollapseViewButton {
  width: 9px;
  /* The image's width is 9 pixels */
  list-style-image: url("chrome://enigmail/skin/twisty-open.png");

}

.enigmailWarningIcon {
  list-style-image: url("chrome://enigmail/skin/warning-16.png");
}

treechildren::-moz-tree-image(enigSignedEncrypted) {
  list-style-image: url("chrome://enigmail/skin/col-encrypted-signed.png");
}

treechildren::-moz-tree-image(enigSigned) {
  list-style-image: url("chrome://enigmail/skin/enigSignOk.png");
}

treechildren::-moz-tree-image(enigEncrypted) {
  list-style-image: url("chrome://enigmail/skin/enigEncOk.png");
}

/*
   the following styles are available for the key trust
   columnm in the key manager:
    enigmail_keyValid_unknown
    enigmail_keyValid_invalid
    enigmail_keyValid_disabled
    enigmail_keyValid_revoked
    enigmail_keyValid_expired
    enigmail_keyTrust_untrusted
    enigmail_keyTrust_marginal
    enigmail_keyTrust_full
    enigmail_keyTrust_ultimate
    enigmail_keyTrust_unknown

They can be applied using:
treechildren::-moz-tree-cell(STYLE) {}
treechildren::-moz-tree-cell-text(STYLE) {}
*/

/******************************
 *  Rules for filter actions
 ******************************/

.ruleactiontarget[type="enigmail@enigmail.net#filterActionMoveDecrypt"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder") !important;
}

.ruleactiontarget[type="enigmail@enigmail.net#filterActionCopyDecrypt"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-folder") !important;
}

.ruleactiontarget[type="enigmail@enigmail.net#filterActionEncrypt"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-forwardto") !important;
}

.enigmailPassphraseQuality {
  margin: 2px 4px;
  min-width: 128px;
  height: 12px;
  background-color: #C21540;
}

.enigmailPassphraseQuality[value="medium"] {
  background-color: #5885C4;
}

.enigmailPassphraseQuality[value="high"] {
  background-color: #64C4A1;
}

.enigmailPassphraseQuality[value="excellent"] {
  background-color: #1A9C2A;
}

/* a spinning wheel circle */
.enigmailWheel {
  list-style-image: url("chrome://enigmail/skin/spinning-wheel.png");
  max-width: 100%;
  max-height: 100%;
}

.enigmailSpinning {
  animation: enigmailDoRotation 1.4s infinite linear;
  transform: translateZ(0);
}

@keyframes enigmailDoRotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/***************************************************
 * Styles for Setup Wizard and Key Generation
 ***************************************************/

#passphraseBox #passphraseError {
  margin-top: 3px;
  margin-bottom: 3px;
  color: red;
}

#passphraseBox #passphraseErrorRepeat {
  margin-top: 3px;
  margin-bottom: 3px;
  color: red;
}

.enigmailOkSign {
  content: url("chrome://enigmail/skin/ok-sign.svg");
  padding-left: 5px;
  padding-right: 5px;
  height: 1.3em;
}
